*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    height: 600px;
    width: 100%;
    margin-top: 15px; 
    background-image: url(./images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;  
}
.new-year{  
    padding-top: 150px;
    color: white;
}
.new-year h5{
    font-size: 22px;
}
.new-year h1{ 
    text-align: center;
    font-size: 55px;
}

/* Nav bar End Here */


.discount{
    text-align: center;
    padding: 25px;
}
.discount h2{
    color: red;
    font-size: 45px;
    margin: 15px 0px;
}
.discount h6{
    text-transform: uppercase;
    color: red;
    font-size: 14px;
}
.discount h1{
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 25px;
}
.discount img{
    width: 500px;
}

/* discount section End Here */

.welcome-party{
    height: 500px;
    width: 100%; 
    margin: 20px 0px; 
    margin-top: 25px; 
    background-image: url(./images/Vectorrr.png);
    background-position: center;
    background-repeat: no-repeat; 
}
.party-text{ 
    color: white;
    width: 600px;
    margin-left: 15%;
    padding-top: 100px;
}
.party-text h2{
    font-size: 50px;
}
.party-text p{
    font-size: 18px;
}
.btn{
    text-transform: uppercase;
    margin-top: 10px;
    color: white;
    padding: 10px;
    border: none;
    font: bold;
    border-radius: 10px;
    background-color: black;
}

/* welcome party section end */

.hotel-details{ 
    width: 87%;
    height: 400px; 
    margin: 0 auto;
    border-radius: 10px;
    background-color:aliceblue;
    background: linear-gradient(rgb(236, 221, 221), rgb(250, 250, 252))
}
.hotel-details-text{ 
    margin-top: 20px;
    text-align: center;
    padding: 120px;
}
.primary-color{
    color: red;
    line-height: 15px;
}
.btn-primary{
   background-color: red;
   padding: 10px 20px;
   border: none;
   border-radius: 10px;
   font-size: 20px;
   color: white;
   margin-top: 10px;

}

/* hotel-details section end */

.comming-soon-container{ 
   max-width: 100%;
    margin: 0 auto;
    margin-top: 45px;
}
.comming-soon{
    display: flex;  
    justify-content: space-around;
    align-items: center;
}
.left{
 width: 300px;
}
.left h5{
     color: red;
}
.middle{
    width: 300px;
}
.middle img{
    width: 300px;
    border: 10px solid red;
    padding: 20px;
    border-radius: 50%;
}
.right{
    width: 300px;
}
.right h1{
    color: red; 
}
.right p{
    margin-top: 30px;
    margin-bottom: 45px;
}

/* comming-soon-container section end */

.holiday-sale-container{ 
    width: 80%;
    margin: 0 auto; 
}
.holiday-sale-text{
    width: 100%; 
    margin-top: 50px;
    text-align: center;
}
.holiday-sale-text h1{
    font-size: 40px;
    margin: 10px 0px;
}
.holiday-sale-text p{
 font-size: 18px;
 width: 50%;
 margin: 0 auto;
}
.holiday-img-container{  
    width: 100%;
    height: 500px;
    background-image: url(./images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom;
}
.all-img{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.left-img img{
    width: 650px; 
    text-align: center;

} 
.discount-img img{
    width: 250px;  
    right: 25px;
}
.model-img img{
    width: 270px;  
}
.right-img{
    display: flex; 
}

/* holiday-sale-container section end */

.our-Portfolio{
 width: 80%;
 margin: 0 auto;
}
.Portfolio-text{
    width: 650px; 
    margin: 50px 0px;
}
.portfolio-img-container{ 
    width: 80%; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 60px;
}
.single-img img{
    width: 400px;
}
/* our-Portfolio section end here */

.newsletter-container{
    width: 80%;
    margin: 0 auto;
    border-radius: 10px; 
    text-align: center;
    padding: 30px 0px;
    background-color: rgb(252, 240, 255);
}
.newsletter-container img{
    width: 150px;
    margin-top: 35px;
}

.input{
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    position: relative;
}
.newsletter-text{
    width: 40%;
    margin: 0 auto;
    padding: 10px 0px;
    line-height: 25px;
}
.user-btn{ 
    position: absolute;
    left: 55%;
    padding: 10px 25px;
    background-color: red;
    border: none; 
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

/* newsletter-container section end */

footer{
    width: 100%; 
    height: 400px;  
    margin-top: 50px;
    background-color: rgb(23, 22, 22);
}
.party-contact{ 
    width: 80%;
    margin: 0 auto;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    border-bottom: 1px solid white;

}
.contact-left{ 
}
.contact-right img{ 
    width: 20px; 
}
.party-icon{
    text-align: center;
    margin: 30px 0px; 
}
.party-icon img{
    width: 40px;
    margin-right: 10px;
}
.party-bottom{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: white;
    border-top: 1px solid white;
}
.party-bottom h3{
    margin-top: 25px;
}