*{
    margin: 0px;
    padding: 0px;
}
nav{
    height: 600px;
    width: 100%;
    margin-top: 15px; 
    background-image: url(./images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;  
}
.new-year{  
    padding-top: 150px;
    color: white;
}
.new-year h5{
    font-size: 22px;
}
.new-year h1{ 
    text-align: center;
    font-size: 55px;
}

/* Nav bar End Here */


.discount{
    text-align: center;
    padding: 25px;
}
.discount h2{
    color: red;
    font-size: 45px;
    margin: 15px 0px;
}
.discount h6{
    text-transform: uppercase;
    color: red;
    font-size: 14px;
}
.discount h1{
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 25px;
}
.discount img{
    width: 500px;
}

/* discount section End Here */

.welcome-party{
    height: 500px;
    width: 100%; 
    margin: 20px 0px; 
    margin-top: 25px; 
    background-image: url(./images/Vectorrr.png);
    background-position: center;
    background-repeat: no-repeat; 
}
.party-text{ 
    color: white;
    width: 600px;
    margin-left: 15%;
    padding-top: 100px;
}
.party-text h2{
    font-size: 50px;
}
.party-text p{
    font-size: 18px;
}
.btn{
    text-transform: uppercase;
    margin-top: 10px;
    color: white;
    padding: 10px;
    border: none;
    font: bold;
    border-radius: 10px;
    background-color: black;
}

/* welcome party section end */